/*
 * Retina Backgrounds for Compass
 * by:              Gaya Kessler
 * last update:     01/14/13
 *
 * Usage:
 * 1. create background image for pixel ratio 1 screens and put it somewhere in your images folder.
 * 2. create background image for pixel ratio 2 screens and put it somewhere in your images folder.
 * 3. include the background-image property in your Sass/Scss using: '@include background-retina(<ratio-1-imagefile>, <ratio-2-imagefile>)'
 */
/*
 * Retina Sprites for Compass
 * by:              Gaya Kessler
 * last update:     01/14/13
 *
 * Usage:
 * 1. create two folders in your image directory (in this case 'icons' and 'icons-2x').
 * 2. adjust the foldernames defined below if you use different names.
 * 3. create sprite images for pixel ratio 1 screens and put them in the first folder.
 * 4. create sprite images for pixel ratio 2 screens and put them in the second folder, use the same filenames.
 * 5. use the sprite-image in your Sass/Scss using: '@include use-sprite(<sprite-name>)'
 */
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  min-width: 320px;
  min-height: 400px;
}
@media screen and (max-width: 360px) {
  body {
    font-size: 1em;
  }
}
@media screen and (min-width: 360px) {
  body {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 640px) {
  body {
    font-size: 2em;
  }
}
@media screen and (orientation: landscape) {
  body #rotate {
    display: block;
  }
}
@media screen and (orientation: portrait) {
  body #rotate {
    display: none;
  }
}
body.touch * {
  outline: none;
  outline-style: none;
  -webkit-touch-callout: none;
  /* disable callout, image save panel */
  -webkit-tap-highlight-color: transparent;
  /* "turn off" link highlight */
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
}

.button {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  text-align: center;
  display: block;
}

.screen {
  color: #fff;
  background-color: #2b323c;
}
.screen > .menu {
  background-color: #000;
  width: 100%;
  height: 4.4em;
}
.screen > .menu > li {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  color: #000;
}
.screen > .menu > li.back.buttonContainer {
  width: 24%;
}
.screen > .menu > li.back.buttonContainer > .button {
  margin: 1em auto;
  background-image: url('../img/icons-sd00d824dc6.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 23px;
  width: 51px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  .screen > .menu > li.back.buttonContainer > .button {
    background-image: url('../img/icons-2x-sf11b535b91.png');
    background-size: 51px 22.5px;
    background-position: 0 0;
    height: 22.5px;
    width: 51px;
  }
}
.screen > .menu > li.back.buttonContainer > .button > p {
  padding-left: 1em;
  line-height: 2.3em;
}

#main {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#main #screen-view {
  position: absolute;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
}
#main #screen-view .screenHolder, #main #screen-view .screenGroup {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
  white-space: nowrap;
}
#main #screen-view .screenGroup {
  overflow: hidden;
}
#main #screen-view .screen {
  width: 100%;
  height: 100%;
  white-space: normal;
}
