/*
 * Retina Backgrounds for Compass
 * by:              Gaya Kessler
 * last update:     01/14/13
 *
 * Usage:
 * 1. create background image for pixel ratio 1 screens and put it somewhere in your images folder.
 * 2. create background image for pixel ratio 2 screens and put it somewhere in your images folder.
 * 3. include the background-image property in your Sass/Scss using: '@include background-retina(<ratio-1-imagefile>, <ratio-2-imagefile>)'
 */
/*
 * Retina Sprites for Compass
 * by:              Gaya Kessler
 * last update:     01/14/13
 *
 * Usage:
 * 1. create two folders in your image directory (in this case 'icons' and 'icons-2x').
 * 2. adjust the foldernames defined below if you use different names.
 * 3. create sprite images for pixel ratio 1 screens and put them in the first folder.
 * 4. create sprite images for pixel ratio 2 screens and put them in the second folder, use the same filenames.
 * 5. use the sprite-image in your Sass/Scss using: '@include use-sprite(<sprite-name>)'
 */
@font-face {
  font-family: "Unstaged";
  src: url('../font/AMEXUnstaged.eot');
  src: url('../font/AMEXUnstaged.eot?#iefix') format('eot'), url('../font/AMEXUnstaged.woff') format('woff'), url('../font/AMEXUnstaged.svg#Unstaged') format('svg');
}

/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  min-width: 320px;
  min-height: 400px;
}
@media screen and (max-width: 360px) {
  body {
    font-size: 1em;
  }
}
@media screen and (min-width: 360px) {
  body {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 640px) {
  body {
    font-size: 2em;
  }
}
@media screen and (orientation: landscape) {
  body #rotate {
    display: block;
  }
}
@media screen and (orientation: portrait) {
  body #rotate {
    display: none;
  }
}
body.touch * {
  outline: none;
  outline-style: none;
  -webkit-touch-callout: none;
  /* disable callout, image save panel */
  -webkit-tap-highlight-color: transparent;
  /* "turn off" link highlight */
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
}

.button {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  text-align: center;
  display: block;
}

#sync-screen {
  background-image: url('../img/1x/leather-background.jpg?1379817598');
  background-size: cover;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  #sync-screen {
    background-image: url('../img/2x/leather-background.jpg?1379817537');
    background-size: 320px 568px;
  }
}
#sync-screen > .branding {
  position: absolute;
  top: 50%;
  margin-top: -7.75em;
  width: 100%;
}
#sync-screen > .branding > .amexLogo {
  background-image: url('../img/1x/logo-amex.png?1379819047');
  background-repeat: no-repeat;
  background-position: right center;
  width: 100%;
  height: 6.65em;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  #sync-screen > .branding > .amexLogo {
    background-image: url('../img/2x/logo-amex.png?1379819033');
    background-size: 303px 66.5px;
  }
}
#sync-screen > .branding > h2 {
  text-align: center;
  font-size: 5.85em;
  font-family: "Unstaged", sans-serif;
  letter-spacing: 0px;
  -webkit-font-smoothing: antialiased;
}
#sync-screen > .branding > .present {
  text-align: center;
  font-size: 1.5em;
}
#sync-screen > .branding > .directed {
  text-align: center;
  font-size: 1.35em;
}
#sync-screen > .panel {
  position: relative;
  top: 42%;
  margin: 0 auto;
  width: 26.7em;
}
#sync-screen > .panel > .controls > .codeContainer {
  width: 100%;
  height: 5em;
}
#sync-screen > .panel > .controls > .codeContainer > .code {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  height: 100%;
  padding: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#sync-screen > .panel > .controls > .codeContainer > .code > div {
  width: 100%;
  height: 100%;
  font-size: 2.45em;
  text-align: center;
  line-height: 2em;
  text-transform: uppercase;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3c424c), color-stop(100%, #363b45));
  background: -webkit-linear-gradient(top, #3c424c, #363b45);
  background: -moz-linear-gradient(top, #3c424c, #363b45);
  background: -o-linear-gradient(top, #3c424c, #363b45);
  background: linear-gradient(top, #3c424c, #363b45);
  -webkit-box-shadow: 0px 1px 0px rgba(225, 225, 225, 0.15) inset, 0 4px 3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 1px 0px rgba(225, 225, 225, 0.15) inset, 0 4px 3px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 1px 0px rgba(225, 225, 225, 0.15) inset, 0 4px 3px rgba(0, 0, 0, 0.6);
}
#sync-screen > .panel > .controls > .sync {
  position: relative;
  top: 0.2em;
  z-index: 1;
  width: 100%;
  height: 4.5em;
  padding: 0 2px 0 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#sync-screen > .panel > .controls > .sync > div {
  width: 100%;
  height: 100%;
  font-size: 1.9em;
  line-height: 2.4em;
  text-align: center;
  color: #000;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #777b84), color-stop(100%, #6b6f77));
  background: -webkit-linear-gradient(top, #777b84, #6b6f77);
  background: -moz-linear-gradient(top, #777b84, #6b6f77);
  background: -o-linear-gradient(top, #777b84, #6b6f77);
  background: linear-gradient(top, #777b84, #6b6f77);
  -webkit-box-shadow: 0px 1px 0px rgba(225, 225, 225, 0.15) inset, 0 4px 3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 1px 0px rgba(225, 225, 225, 0.15) inset, 0 4px 3px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 1px 0px rgba(225, 225, 225, 0.15) inset, 0 4px 3px rgba(0, 0, 0, 0.6);
}
#sync-screen > .panel > .tip {
  padding: 1.7em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#sync-screen > .panel > .tip > p {
  font-size: 1.2em;
  line-height: 1.4em;
  text-align: center;
}
#sync-screen > .panel > .tip > p > b {
  display: block;
  font-weight: bold;
}
#sync-screen .overlay {
  position: absolute;
  top: 3.5%;
  left: 5%;
  width: 90%;
  height: 93%;
  background: rgba(0, 0, 0, 0.84);
}
#sync-screen .overlay.connecting > p {
  margin-top: 9.75em;
  font-size: 1.52em;
  text-align: center;
}

.screen {
  position: relative;
  color: #fff;
  background-color: #2b323c;
}
.screen > .menu {
  background-color: #000;
  width: 100%;
  height: 4.4em;
}
.screen > .menu > li {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  color: #000;
}
.screen > .menu > li.back.buttonContainer {
  width: 24%;
}
.screen > .menu > li.back.buttonContainer > .button {
  margin: 1em auto;
  background-image: url('../img/icons-sd00d824dc6.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 23px;
  width: 51px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  .screen > .menu > li.back.buttonContainer > .button {
    background-image: url('../img/icons-2x-sf11b535b91.png');
    background-size: 51px 22.5px;
    background-position: 0 0;
    height: 22.5px;
    width: 51px;
  }
}
.screen > .menu > li.back.buttonContainer > .button > p {
  padding-left: 1em;
  line-height: 2.3em;
}

#main {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#main #screen-view {
  position: absolute;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
}
#main #screen-view .screenHolder, #main #screen-view .screenGroup {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
  white-space: nowrap;
}
#main #screen-view .screenGroup {
  overflow: hidden;
}
#main #screen-view .screen {
  width: 100%;
  height: 100%;
  white-space: normal;
}
